

body {
    background-color: black;
    
}

.loader {
 
  margin: auto;
  border: 10px solid grey; /* Light grey */
  border-top: 10px solid white; /* Blue */
  border-radius: 50%;
  width: 100px; /* Width of the loader*/
  height: 100px; /* Height of the loader*/
  animation: spin 1s linear infinite; /* speed*/
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
